html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 18px 'Indie Flower', cursive;
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  background: url('assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

#root {
  font-family: 'Indie Flower', cursive;
}
